* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    margin-top: 15px;
    background-color: #ffd782;
    border-radius: 10px;
    padding: 15px 30px;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

button:hover {
    box-shadow: 6px 6px;
}

button:active {
    background-color: #603601;
    color: #ffd782;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/

nav ul {
    list-style: none;
    padding-right: 5%;
}

nav li a {
    text-decoration: none;
    color: #ffd782;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
}

nav li a:hover {
    color: #603601;
    text-shadow: 1px 2px 0 #ffd782;
    transition: text-shadow 0.3s 0s ease;
}

main {
    padding-top: 45px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.navigation {
    background-color: #1C0A00;
    width: 100%;
    height: 8%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    position: absolute;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 0 40px;
}

#logo {
    width: 100px;
    margin-left: 40%;
}

header {
    background-image: url(img/pexels-polina-tankilevitch-4109749.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    scroll-snap-align: center;
    min-height: 100vh;
}

header img {
    height: calc(100vh - 45px);
    width: 100%;
}


h1 {
    color: #ffd782;
    font-size: 10em;
    font-family: 'Sacramento', cursive;
    text-shadow: 1px 2px 0 #1C0A00;
    padding-right: 54px;
}

section {
    display:grid;
    grid-template-columns: 55% 45%;
    scroll-snap-align: center;
    min-height: 100vh;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
}

section p {
    font-family: sans-serif;
    color:#1C0A00;
    padding: 20px 40px;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

.section1-img, .section2-img, .footer-img {
    background-image: url(img/pexels-brigitte-tohm-377903.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section2-img {
    background-image: url(img/pexels-furkanfdemir-6215303.jpg);
}

.section1-content {
    padding-top: 105px;;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.theBestCoffeeShop {
    background-color: #ffd782;
    color:#603601;
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.theBestCoffeeShop p {
    padding: 90px 120px 90px;
}

.container {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 0 60px;
}

.item img {
    width: 80px;
}

footer {
    display: grid;
    grid-template-columns: 45% 55%;
    min-height: 100vh;
    text-align: center;
    background-color: #010101;
    scroll-snap-align: center;

}

.footer-img {
    background-image: url(img/pexels-eyad-tariq-3879495.jpg);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffd782;
    color: #1C0A00;
}

/*   ABOUT US   */

.AboutUs {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    background-color: #ffd782;
    text-align: center;
    justify-content: space-between;
}

.flexParentForCentering {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.AboutUs img {
    width: 80%;
}

.AboutUs h2 {
    font-size: 4rem;
}

h3 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.AboutUs li {
    padding-bottom: 1rem;
}

/*   PLACES   */

.locations {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #ffd782;
    text-align: center;
    justify-content: space-between;
}

.mapouter {
    width: 100%;
}